* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  background-image: url("/src/Fondos/Fondo1.jpeg");
  background-attachment: fixed;
  font-family: Georgia, "Times New Roman", Times, serif;
}

header {
  background-color: white;
  font-size: 15px;
  background-image: radial-gradient(ellipse, black, white);
}

h1 {
  color: white;
  justify-content: center;
  text-align: center;
}

nav {
  list-style: none;
  background-image: linear-gradient(to top, black, white);
  display: flex;
  justify-content: center;
}

H2 {
  padding: 5%;
  color: white;
  justify-content: center;
  text-align: center;
}

.boton {
  color: darkblue;
  padding: 3rem, 5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 1s ease;
  height: 30px;
  width: 100px;
}

.boton:hover {
  background: gray;
  box-shadow: 0 0 30px rgba(39, 37, 37, 0.329);
  transition: transform 0.5s;
}

.boton:focus {
  background: black;
  color: white;
}

div .col {
  animation: fadeIn 3s ease;
}

.card {
  border: 1px solid rgba(212, 206, 206, 0.438);
}

.card img {
  border-radius: 2%;
}

p .card-text {
  margin: 2px;
  font-size: 12px;
}

.card-img-top {
  height: 40vh;
  transition: transform 0.6s;
}

.card-img-top:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card {
  border: 1px solid rgba(212, 206, 206, 0.438);
  transition: transform 0.6s;
  box-shadow: 0 0 3px rgba(124, 119, 119, 0.329);
}

.card:hover {
  box-shadow: 0 0 30px rgba(39, 37, 37, 0.329);
  transition: transform 0.6s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur (20px);
  }
  10% {
    opacity: 1;
    filter: brightness(2) blur(10px);
  }
}

@media (min-width: 600px) {
  main {
    flex-wrap: nowrap;
  }

  div {
    flex-basis: 33%;
  }
}
